<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <jmxConfigurator/>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

  <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%-30.30logger{29}:%L] - %m%n"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="io.datadynamics.kudu" level="INFO"/>
  <logger name="org.apache.kudu" level="INFO"/>

  <root level="DEBUG">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>